body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.fees-container {
  display: flex;
  justify-content: center;
  /* margin-top: 40px; */
height: 100vh;
/* border: 2px solid black; */
align-items: center;
}

.fees-box {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #dadada;
}

.fees-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.fees-box label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.fees-box input,
.fees-box select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  border-radius: 6px;
}

.fees-box button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #1a73e8;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
}

.fees-box button:hover {
  background: #1459b3;
}

.message {
  background: #e8ffe8;
  border-left: 4px solid #4CAF50;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}
