/* Container */
.profile-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Wrapper for dropdown */
.profile-dropdown-wrapper {
  position: relative;
  display: inline-block;
}

/* Profile Icon Button */
.profile-icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

/* Dropdown menu */
.dropdown-menu {
  position: absolute;
  right: 10;
  margin-top: 10px;
  width: 150px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
  z-index: 10;
  overflow: hidden;
}

/* Dropdown item */
.dropdown-item {
  width: 100%;
  text-align: left;
  padding: 10px 12px;
  font-size: 14px;
  border: none;
  background: white;
  cursor: pointer;
  color: black;
}

.dropdown-item:hover {
  background: #f1f1f1;
}

/* Disabled */
.disabled-item {
  color: #000000;
  cursor: not-allowed;
}

/* Logout item */
.logout-item {
  color: #d9534f;
}

.logout-item:hover {
  background: #ffe5e5;
}

/* Login Button (when user not logged in) */
.login-btn {
  border: 1px solid rgb(0, 0, 0);
  background: black;
  color:  rgb(253, 131, 31);
  /* padding: 10px 15px; */
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;font-weight: 700;
  transition: 0.3s;
}

/* .login-btn:hover {
  background: white;
  color: black;
} */
